@view-transition{
    navigation: auto;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 315px;
    font-family: sans-serif;
}
html{
    background-color: hsl(0, 8%, 93%);
    font-size:1.2em;
    color:rgb(0, 0, 0);
    overflow-x: hidden;
    width: 100vw;
    scroll-behavior: smooth;
}
header{
    width: 100vw;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1::after{
    content: "";
    display: block;
    width:fit-content(100%);
    height: 3px;
    background-color: rgb(47, 47, 129);
    margin: 0 auto;
    margin-bottom: 10px;
}
h1{
    font-size: 2.3em;
    color:rgb(16, 16, 16);
    text-align: center;
    
}
.title-portada, h1,.title-galeria{
    font-family: 'Lexend Deca', sans-serif;
}
.somos-texto, .texto-servicio p ,.content-markers-portada, .servicios-botones button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif ;;
}
/*-------------------nav_bar--------------------*/
nav{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;       
    height: 7%;
    z-index: 4;
    transition:all 0.3s ease
}
.nav-link{
    text-decoration: none;
    color:hsl(0, 0%, 100%);
    margin-right: 3vw;
}
.menu-toggle{
    display: none;
    position: fixed;
    top:3px;
    right: 10px;
    font-size: 2em;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 2vw;
    z-index:100;
}
#check{
    display: none;
}

.background-nav{
    background-color: rgb(47, 47, 129);
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.16) 3px 3px 4px;
}

.logo-corner{
    width:150px;
    margin-left:2vw;
    opacity: 0;
    transition: opacity 0.4s ease;
}
/*---------------seccion portada----------------*/
#slider{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 850px;
    min-height: 70vh;
}
.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-arrow.prev1 {
    left: 20px;
}

.nav-arrow.next1  {
    right: 20px;
}

.manual-slide {
  animation: none !important;
  opacity: 0 !important;
}

.manual-slide.active {
  opacity: 1 !important;
  transition: opacity 0.6s ease;
}

.manual-text {
  animation: none !important;
  opacity: 0 !important;
  transform: translateX(-50%);
}

.manual-text.active {
  opacity: 1 !important;
  transform: translateX(-50%) scale(1.05);
  transition: all 0.6s ease;
}

.whatsapp-inicio{
    scale:2.5
}
.whatsapp{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: -70px;
    bottom: 60px;
    text-decoration: none;
    color: #fff9f9;
    background-color: #38ba2f;
    z-index: 4;
    height: 70px;
    width: 70px;
    padding: 2px;
    border-radius:50%;
    transition: all 0.3s ease;
}
.whatsapp:hover{
    scale:1.2;
}
.fondo-oscuro{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.495);
    z-index: 1;
}

.logo-center *{
    transform-origin: center;
    transition: all 1s ease;
}
.logo-center{
    display: inline-flex;
    max-height: 300px;
    align-items:baseline;
    justify-content: center;
    margin-bottom:220px;

}
.nsol{
    width: 38vw;
    opacity: 0; 
    z-index:2;
    transform: translateX(-100px);
    z-index: 2;
 } 
.i{
    width: 7vw;
    transform:translateX(270%);
    z-index:2;
}
.logo-visible{
    opacity: 1;
}

.slide{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation: fade 18s infinite;
    min-height: 70vh;
}
.slide img {
  width: 100%;
  height: 850px;
  display: block;
  object-fit:cover;
  min-height: 70vh;
}

.s1 {
animation-delay: 0s;
}
.s2 {
    animation-delay: 6s;
}
.s3 {
    animation-delay: 12s;
}

.title-portada{
    text-align: center;
    color:rgb(251, 252, 255);
    font-weight: 600;
    font-size:2em;
    max-width: 300px;
    
    flex-wrap: wrap;
}
.parentesis-title-portada{
    display:block;
    font-size: .5em;
    color:rgb(251, 252, 255);
    
}
.title-portada::after{
    content: "";
    display: block;
    width:fit-content(100%);
    height: 3px;
    background-color: rgb(90, 137, 239);
    margin: 0 auto;
    margin-bottom: 10px;
}
.fa-square-check{
    scale:.7;
    margin-right:.3em;
    color:rgb(90, 137, 239);
}
.content-markers-portada{
    font-size:1.4em;
}
.slide-text {
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateX(-50%);
    color: white;
    z-index: 2;
    margin-top: 40px;
    animation: textFade 18s infinite;
    left:50%;
}

.t1{
    animation-delay:0s;
}
.t2{
    animation-delay: 6s;
}
.t3 {
    animation-delay: 12s;
}

@keyframes fade{
    0%   { opacity: 0; scale:1.2 }
    8%   { opacity: 1; scale:1 }
    33%  { opacity: 1; scale:1}
    41%  { opacity: 0; scale:1}
    100% { opacity: 0; scale:1}
}
@keyframes textFade {
    0%   { opacity: 0; transform: translateX(100%) scale(1)}
    8%   { opacity: 1; transform: translateX(-50%) scale(1.05); }
    33%  { opacity: 1; transform: translateX(-50%) scale(1.05); }
    41%  { opacity: 0; transform: translateX(-150%) scale(1.05); }
    100% { opacity: 0;  transform: translateX(150%) scale(1)}
}

/*-------------seccion somos-----------*/

#somos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    background-color: rgb(211, 214, 222);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    scroll-margin-top: 80px;
}
.somos-contenido{
    display: flex;
    max-height: 55%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;

}
.gente{
    width: 25%;
    min-width: 250px;
}
.somos-texto{
    max-width: 730px;
    text-align:justify;
    font-size: 1.2em;
    color: rgb(4, 3, 3);
    margin:50px;
}

.visible{
    opacity: 1;
    transform: translateY(0);
}
ul .marker-somos::marker{
    content:'✅  ';
}
span{
    color: rgb(31, 84, 206);
    font-weight: 600;
}

/*-----------seccion servicios-----------*/
#servicios{
    scroll-margin-top: 80px;
}
.servicios{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicios-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 35px;
}
.servicios-botones button{
    position: relative;
    width: 250px;
    background-color: rgb(161, 161, 161);
    color: white;
    font-size: 1.3em;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.servicios-botones button::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgb(25, 25, 27);
    transition: width 0.3s ease-in-out;
}
.servicios-botones button:hover::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(25, 25, 27);
}

.servicios-botones button.active{
    background-color: rgb(47, 47, 129);
}

.servicios-botones button.active::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(25, 25, 27);
}
.servicio-detalle{
    max-width: 1000px;
    min-height: auto; /* Importante */
    position: relative;
    border-radius: 3px;
    overflow: hidden; /* evita que se desborde el contenido */
    margin: 0 10px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fondo-oscuro-1{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.758);
    z-index: 1;
    border-radius: 10px;
}
.fondo-servicio{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 10px;
    box-shadow: rgba(24, 25, 25, 0.2) 1px 10px 10px;
}
.content-servicio{ 
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 40px 20px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    gap: 20px;
    box-sizing: border-box;
}
.texto-servicio p{
    max-width: 600px;
    font-size: 1.2em;
    text-align: justify;
}
.texto-servicio{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.content-servicio img{
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}
h2{
    color:rgb(44, 101, 235);
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    max-width: 70%;
}
.lista-servicio{
    margin-left:50px;
}

/* ----------mini_seccion galeria----------- */
.title-galeria{
    color: rgb(22, 23, 23);
    justify-self: center;
    font-weight: 700;
    font-size: 1.3em;
    margin:0 0 8px 0;
    text-align: center;
}
.galeria-contenedor-servicio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    padding: 0px 10px;
}

.miniatura{
    width: 15vw;
    min-width: 150px;
    height: 250px;
    object-fit:cover;
    cursor: pointer;
    transition: all 0.2s ease;
}
.miniatura:hover{
    scale:1.03;
}
.lightbox{
    display:none;
    align-items: center;
    justify-content: center;
    position:fixed;
    z-index:50;
    left:0;
    top:0;
    width: 100%;height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 60px;
}
.imagen-ampliada{
    max-width: 90%;
    max-height: 80vh;
    transition:transform 0.2s ease;
    z-index: 51;
}
.cerrar, .prev, .next{
    color:white;
    font-size:40px;
    position:absolute;
    cursor:pointer;
    user-select:none;
    z-index: 51;
}
.cerrar{top:20px;right:30px;font-size:90px;}
.prev{top:50%;left:30px;transform: translateY(-50%);}
.next{top:50%;right:30px;transform: translateY(-50%);}

/*---------------seccion slider empleadores--------------*/
#empleadores{
    display:flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 80px;
}
.slider1{ 
    width:90vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider1 .slide-track{
    display: flex;
    align-items: center;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width:calc(260px * 18);
}
.slider1 .slide1{
    width: 260px;
    padding-right: 30px;
}
.slider1 .slide1 img{
    width: 100%;
}

@keyframes scroll{
    0%   { transform: translateX(0);
    -webkit-transform: translateX(0) }

    100%  { transform: translateX(calc(-260px * 9));
    -webkit-transform: translateX(calc(-260px * 9)); }
}

/* --------------CONTACTO--------------------- */
#contacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(211, 214, 222);
    justify-content:center;
    scroll-margin-top: 80px;
}
legend{
    font-size: 20px;
    align-self: center;
    color: #274bdc;
    text-align: center;
}
form{
    padding:20px 55px 50px  55px;
    border-radius: 20px;
    text-align: center;
    width: 900px;
    display: flex;
    justify-content: center;
}
.link-contacto{
    text-decoration: none;
    color:rgb(46, 46, 48)
}
.contacto-iconos{
    display: flex;
    justify-content: space-between;
    width: 750px;
}
.contacto-icono{
    font-size: 1.3em;
}
.input-group{
    display: flex;
    flex-direction: column;
    text-align:left;
    width: 100%;
}
label{
    color: rgb(63, 62, 62);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bbb7b7;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e8e9eb;
    color:black;
    outline:none;
    resize: vertical;
}
input::placeholder, textarea::placeholder{
    color: #7b7878;
}
.btn-submit{
    background-color: rgb(47, 47, 129);
    max-width: 200px;
    align-self: center;
    color: white;
    font-weight: 700;
    height: 50px;
}
.btn-submit:hover{
    background-color: rgb(43, 43, 176);
    box-shadow: 0 0 20px 5px rgba(43, 43, 176, 0.5);
    border:none;
}

/* ------------------RESPONSIVE------------------- */


@media screen and (max-width: 768px) {
    .somos-contenido, .content-servicio{
        flex-wrap: wrap;
    }
    .content-servicio img{
        display: none;
    }
    .menu-toggle{
        display: block;
    }
    nav{
        height: 60px;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        position:fixed;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        left:-100%;
        top:0%;
        background:rgb(42, 42, 116);
        text-align: center;
        transition: left 0.3s ease;
        padding: 10px;
        
    }
    .nav-link{
        margin: 30px 0;
        font-size: 1.5em;
        padding: 10px;
        color:rgb(251, 251, 251);
        border-radius: 10px;
        position: relative;
    }
    #check:checked ~ .nav-links{
        left: 0;
    }
    #check:checked ~ .espacio-azul{
        left: 0;
    }
    form, textarea{
    padding: 15px;
    width: 100%; 
    }
    .contacto-iconos{
    width: 80%;
    flex-wrap:wrap;
    justify-content: center;
    }
    .contacto-iconos a{
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .whatsapp-inicio{
    scale:1.7
    }
    .whatsapp{
        height: 50px;
        width: 50px;
        bottom:30px
    }
}
@media screen and (max-width: 667px){
    .galeria-servicios{
        max-width: 100%;
    }
    .galeria-contenedor-servicio {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    gap: 8px;
    padding: 10px;
    width: 90%; /* <<< IMPORTANTE */
    box-sizing: border-box;
  }

  .miniatura {
    flex: 0 0 auto;
    width: 35vw;
    height: 200px;
  }
}

@media screen and (max-width: 510px){
    .servicios-botones button{
        width: 150px;
        font-size: .78em;
    }
}

@media screen and (max-width: 600px) {
    .slider1 .slide-track{
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width:calc(260px * 18);
    }
    .slider1 .slide1{
    width: 200px;
    padding-right: 20px;
    }
    @keyframes scroll{
    0%   { transform: translateX(0);
    -webkit-transform: translateX(0) }

    100%  { transform: translateX(calc(-200px * 9));
    -webkit-transform: translateX(calc(-200px * 9)); }
    }

    
  .slide-text {
    font-size: 2.7vw;
    margin-top:7px;
    width: 80%;
    }
    .content-servicio img{
        max-width: 150px;
    }
    .nav-arrow {
    top: 50%;
    padding: 5px;
    scale:.7;
    }
    .nav-arrow:hover {
        background-color: rgba(0, 0, 0, 0);
    }
    .nav-arrow.prev1 {
        left: -10px;
    }

    .nav-arrow.next1  {
        right: -10px;
    }
}

@media screen and (max-width: 400px) {
    .logo-corner{
        width: 120px;
    }
    .nsol{
        width: 50vw;
    }
    .i{
        width: 10vw;
    }
    .slide-text {
    font-size: 3.5vw;
    }
    .somos-texto{
        font-size: 1em;
        margin: 20px;
    }
    
    
    h1{
        font-size: 1.8em;
        max-width: 85%;
    }
    h2{
        font-size: 1.5em;
        
    }
    .texto-servicio p{
        font-size: 1em;
    }
    .content-servicio img{
        max-width: 150px;
    }
    .miniatura{
    width: 10vw;
    min-width: 120px;
    height: 150px;
    }  
    .menu-toggle{
        top:0px
    }
}